<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Ictect IntelliDocs</title>
    @Styles.Render("~/Content/IntelliDocsCSS")
    @Scripts.Render("~/Scripts/IntelliDocsJS")
</head>
<body>
    @{ Html.RenderPartial("~/Views/Shared/_RemoteModal.cshtml"); }
    <div id="header-container">
        <header>
            <a href="@Url.Content("~")" id="header-home">IntelliDocs</a>
            @if (User.Identity.IsAuthenticated)
            {
                <input type="text" id="header-search" placeholder="Search anything... (Coming Soon)" />
                <div id="header-actions">
                    <a href="#" id="header-upload" data-action="upload" title="Upload a New Document" data-toggle="modal" data-target="#ajax-modal"><span class="glyphicon glyphicon-cloud-upload"></span>Upload</a>
                    <a href="#" data-toggle="modal" data-target="#ajax-modal" id="header-new-folder" data-action="new-folder" title="Create a New Folder"><span class="glyphicon glyphicon-plus-sign"></span>New Folder</a>
                    <div id="directory-actions">
                        <a href="#" data-action="share-folder" title="Share this Directory"><i class="fa fa-share-alt-square"></i>Share</a>
                        <a href="#" data-action="rename-folder" title="Rename this Directory"><i class="fa fa-pencil-square"></i>Rename</a>
                        <a href="#"data-toggle="modal" data-target="#ajax-modal"  data-action="delete-folder" title="Delete this Directory"><i class="fa fa-trash"></i>Delete</a>
                    </div>
                </div>
                <ul id="header-settings">
                    <li>
                        <a href="@Url.Action("Index", "Manage")" id="header-settings-btn" title="Manage Your Account"><span class="glyphicon glyphicon-cog"></span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account")" id="header-logoff" title="Log Off"><span class="glyphicon glyphicon-off"></span></a>
                    </li>
                </ul>
            }
        </header>
    </div>
    @{
        if (User.Identity.IsAuthenticated) { Html.RenderPartial("_BrowserSidebar"); }
    }
    <div id="content-container">
        @RenderBody()
    </div>
    <div id="footer-container">
        @* We may not need a footer *@
    </div>
    @RenderSection("Scripts", false)
    <script>
        IntelliDocs.baseUrl = "@($"{Request.Url.Scheme}://{Request.Url.Authority}{Url.Content("~")}")";
    </script>
</body>
</html>